* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 20px;
	color: white;
	background-color: grey;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.calc-imc {
	background: #FF7629;
	border-radius: 39px;
	height: fit-content;
	
}
.orange{
	color: #FF7629;
	font-weight: 600;
}
.info{
	margin-left: 15px;
	background-color: white;
	color: black;
	height: 250px;
	width: 430px;
	border-radius: 39px;
}
.infop{
	margin-left: 25px;
	align-items: center;
}
.info h4{
	text-align: center;
	padding-top: 15px;
	margin-bottom: 30px;
	font-weight: 500;
}

#imc{
	background-color: black;
	color: white;
	font-weight: 600;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 10px 8px rgba(0, 0, 0, 0.29);
}

@media (min-width: 500px) {
	.calc-imc {
		align-items: center;
		justify-content: center;
		max-width: 500px;
		width: 100%;
		padding: 1em;
	}
}

.calc-imc h1 {
	text-align: center;
	font-size: 2em;
	text-decoration: none;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0.3em;
}

.form label,
.form button {
	margin-top: 1em;
}

.form input,
.form button {
	font-size: inherit;
	font-family: inherit;
	width: 100%;
	padding: 0.5em;
	border-radius: 10px;
	border: none;
}

.form button {
	background-color: grey;
	cursor: pointer;
	border-radius: 0.3em;
	width: 50%;
}

.form button:hover {
	filter: opacity(0.8);
}

.form button:active {
	background-color: #FFEFFF;
	color: #000;
	filter: opacity(0.8);
}